@model Review_Site.Models.Category
@{
    ViewBag.Title = Model.Title ;
}

@if (ViewBag.NoHeader == null || ViewBag.NoHeader != false)
{
<h2>@Model.Title</h2>
}

@* If the category has a grid associated with it, render it. *@
@if (Model.Grid != null)
{
    @Html.Partial("_Grid", Model.Grid)
}

