@model Review_Site.Models.Article
<div class="well well-small">
    <ul class="nav nav-list">
        <li class="nav-header">Latest Articles By @Model.Author.FullName</li>
        @foreach (var authorArticle in Model.Author.Articles.OrderByDescending(x => x.Created).Take(3))
        {
        <li>@Html.ActionLink(authorArticle.Title, "GetArticle", new { id = authorArticle.ID, controller = "Home" })</li>
        }
    </ul>
</div>
@if (Model.Category != null)
{
<div class="well well-small">
    <ul class="nav nav-list">
        <li class="nav-header">Latest Articles in @Model.Category.Title</li>
        @foreach (var latestArticle in Model.Category.Articles.OrderByDescending(x => x.Created).Take(3))
        {
        <li>@Html.ActionLink(latestArticle.Title, "GetArticle", new { id = latestArticle.ID, controller = "Home" })</li>
        }
    </ul>
</div>
}