<html>
	<head>
        <style type="text/css">
            h1 {
                font-family: Rockwell;
                font-size: 40px;
                font-weight: normal;
                color: #948A54;
                padding-top: 15px;
                padding-bottom: 20px;
                display: inline-block;
            }

            p {
                display: block;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 14px;
                margin-bottom: 10px;
            }

            pre {
                display: block;
                padding: 9.5px;
                margin: 0 0 10px;
                font-size: 13px;
                line-height: 20px;
                word-break: break-all;
                word-wrap: break-word;
                white-space: pre;
                white-space: pre-wrap;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
        </style>
	</head>
	<body>
        <h1><span style="color: #C4BC96;">the</span>REVIEW</h1>
		@RenderBody()
        <p style="font-size: 10px;">Disclaimer: The views and opinions expressed in this email and any publication of theREVIEW are those of the authors only and do not 
necessarily reflect the official policy or position of William Howard School.</p>
	</body>
</html>