<p>Hello @ViewBag.form.Name,</p>

<p>Thank you for taking the time to write to us. The Editors have received your message and will respond as soon as possible.</p>
<p>&nbsp;</p>
<p style="font-style: italic;">This is an automated message, please do not reply.</p>