<p>This message was sent by @ViewBag.form.Name from the Website's Contact Form.</p>
<p>&nbsp;</p>
<pre>
@ViewBag.form.Message
</pre>
<p>&nbsp;</p>
<p>This message originated from Client IP Address @ViewBag.form.ClientAddress</p>