@model Review_Site.Data.Models.GridElement

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Grid Element</h2>

@{
    ViewBag.ButtonText = "Save Changes";
    ViewBag.IDField = true;
    Html.RenderPartial("_Form", Model);
}