@{
    ViewBag.Title = "Index";
}

<h2>Site Administration</h2>

<h4>Welcome!</h4>
<p>From here it is possible to adjust and change nearly every element of this site. You can create new articles, assign them to categories and upload pictures and other files to use in your writing.</p>

<h4 style="color: #f00">NOTICE: Cropping</h4>
<p>Cropping is currently disabled due to it breaking and lack of time to fix before public release!</p>
<p>I aim to have it fixed as soon as possible.</p>