@{
    ViewBag.Title = "Index";
}

<h2>Site Administration</h2>

<h4>Welcome!</h4>
<p>From here it is possible to adjust and change nearly every element of this site. You can create new articles, assign them to categories and upload pictures and other files to use in your writing.</p>

<div class="well">
    <h4 style="color: #f00">NOTICE: Cropping</h4>
    <p>Cropping appears to be working OK on large images. <strong>HOWEVER</strong> please be aware that the fix has not been completely tested.</p>
    <p>Remember to check your images to confirm they crop properly!</p>
</div>
