@{
    ViewBag.Title = "About Us";
}

<div class="row">
    <h2>About theREVIEW</h2>

    <blockquote>
        <p>theREVIEW is produced by a group of Sixth form students from William Howard School, in Brampton, Cumbria.</p>

        <p>There are about twenty people in the team who produce the magazine, all aged 16 and 17. Writers are free to scribe about the issues that interest them: from politics, to sport, or even creative writing. </p>

        <p>A new printed issue of theREVIEW student newspaper is produced once every half-term. However, reflective of the ‘dynamic’ nature of journalism today, we hope to update our website on a more frequent basis.</p>

        <p>We hope you enjoy reading what we have produced.</p>

        <p>Feel free to contact us using the contact link in the footer.</p>

        <cite>theREVIEW team</cite>
    </blockquote>
</div>
