@{
    ViewBag.Title = "Thanks!";
}

<div class="row">
    <h2>Thank You</h2>
    <p>Thank You for your message.</p>
    <p>&nbsp;</p>
    <p><a href="@Url.Action("Index", "Core")">Home</a></p>
</div>
