@{
    ViewBag.Title = "Thanks!";
}

<h2>Thank You</h2>
<p>Thank you for taking the time to write to us. We read all the mail we recieve and respond to it as soon as possible.</p>
<p>&nbsp;</p>
<p><a href="@Url.Action("Index", "Core")">Site Home</a></p>
