@model Review_Site.Data.Models.ContactForm
@using System.Configuration
@{
    ViewBag.Title = "Contact Us";
    ReCaptcha.PublicKey = ConfigurationManager.AppSettings["ReCaptcha-PublicKey"];
}

<h2>Contact Us</h2>

<p>Thank you for choosing to contact theREVIEW. We value all feedback and will try to respond to your emails as quickly as possible.</p>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.Name, new { placeholder="Name", @class = "span4" })<br />
    @Html.TextBoxFor(x => x.Email, new { placeholder="Email Address", @class = "span4" })<br />
    @Html.TextAreaFor(x => x.Message, new { placeholder="Please enter your message here.", @class = "offset2 span8", style = "height: 400px;" })<br />
    <p>Please prove you're human by completing the Captcha Challenge below:</p>
    @ReCaptcha.GetHtml(theme: "clean")
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Send Message</button>
    </div>
}
