@model Review_Site.Data.Models.CategoryViewModel
@{
    ViewBag.Title = Model.Category.Title;
}

@if (ViewBag.NoHeader == null || ViewBag.NoHeader != false)
{
    <div class="row">
        <h2 class="large-12 columns">@Model.Category.Title</h2>
    </div>
}
else
{
    <div class="padtop">&nbsp;</div>
}

@* If the category has a grid associated with it, render it. *@
@if (Model.Category.Grid != null)
{
    @Html.Partial("_Grid", Model.Category.Grid)
}

@Html.Partial("_Articles", Model)