@model Review_Site.Data.Models.Grid
@{
    ViewBag.Title = Model.Name;
}

@if (ViewBag.NoHeader == null || ViewBag.NoHeader != false)
{
    <div class="row">
        <h2 class="large-12 columns">@Model.Name</h2>
    </div>
}

@Html.Partial("_Grid", Model)