@model Review_Site.Data.Models.TagViewModel
@{
    ViewBag.Title = Model.Tag.Name;
}

@if (ViewBag.NoHeader == null || ViewBag.NoHeader != false)
{
    <div class="row">
        <h2 class="large-12 columns">@Model.Tag.Name</h2>
    </div>
}
else
{
    <div class="padtop">&nbsp;</div>
}

@Html.Partial("_Articles", Model)