@model Review_Site.Data.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<div class="row">
    <h2 class="large-12 columns">Search for @Model.Query</h2>
</div>

@Html.Partial("_Articles", Model)