@model Review_Site.Models.CategoryViewModel
@{
    ViewBag.Title = Model.Category.Title;
}

@if (ViewBag.NoHeader == null || ViewBag.NoHeader != false)
{
    <h2>@Model.Category.Title</h2>
}

@* If the category has a grid associated with it, render it. *@
@if (Model.Category.Grid != null)
{
    @Html.Partial("_Grid", Model.Category.Grid)
}

<p>&nbsp;</p>

@Html.Partial("_Articles", Model)