@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>theREVIEW</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/Favicon.ico")" />
    <!-- Le styles -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .centrebox, .centrefoot {
        max-width: 300px;
        margin: 0 auto 20px;
      }
      .centrebox
      {
        padding: 19px 29px 29px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .centrebox .review-heading h1
      {
        font-family: Rockwell;
        font-size: 40px;
        font-weight: normal;
        color: #948A54;
        display: inline-block;
      }
      .centrefoot
      {
          text-align: center;
      }
      .centrefoot a
      {
          font-size: 11px;
      }
      

    </style>
    @Html.Partial("_AnalyticsJS")
  </head>

  <body>

    <div class="container">

      @RenderBody()

    </div>

  </body>
</html>

