@{
    Layout = "_CentreBoxLayout.cshtml";
}

<div class="centrebox">
    <div class="review-heading">
        <h1>
            <span style="color: #C4BC96;">the</span>REVIEW</h1>
    </div>
    <p>
        Thank You for visiting the website for theREVIEW, a Sixth Form Publication.</p>
    <p>
        This site is still under construction and we hope to launch it very soon!</p>
</div>
<div class="centrefoot">
    <a href="@Url.Action("Index", new { controller = "Admin", area = "Admin" })">Site Admin</a>
</div>
