<connectionStrings>
  <add name="LocalSiteContext" connectionString="data source=localhost\SQLEXPRESS;initial catalog=ReviewSite;persist security info=True;user id=reviewuser;password=password;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="SiteConnection" connectionString="data source=localhost\SQLEXPRESS;initial catalog=ReviewSiteNH;persist security info=True;user id=reviewuser;password=password;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="NHibernateMySQLConnection" connectionString="server=127.0.0.1;User Id=TheReview;password=yTMQKWzR25tm9Yay;Persist Security Info=True;database=TheReview" providerName="MySql.Data.MySqlClient" />
</connectionStrings>