<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="MvcMailer.BaseURL" value="" />
  
  <add key="site-title" value="theREVIEW"/>
  <add key="meta-keywords" value="William Howard, William Howard School, Sixth Form, William Howard Sixth Form, Student Publication, Newspaper, Magazine, thereview, The WHS Review, online articles, cumbria, academy, review"/>
  <add key="meta-description" value="A Sixth Form Publication produced by students from William Howard School"/>

  <add key="ReCaptcha-PublicKey" value="6LeoJd8SAAAAAEUvlK0hPfIOrPmaVPP4kJtgAh6W"/>
  <add key="ReCaptcha-PrivateKey" value="6LeoJd8SAAAAAIl1VdV3-NINazWEkul1qsin5CcY"/>
  <add key="contact-email" value="editors@thewhsreview.co.uk"/>
</appSettings>
